@import url("https://fonts.googleapis.com/css?family=Literata|Eb+Garamond&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890&display=swap");
:root {
  box-sizing: border-box;
  --bg-color: #252527;
  --blue: #5593ad;
  --ivory: #f0f0f0;
  --font-main: "Literata";
  --font-alternate: "Eb Garamond";
}
:root p {
  font-size: 1em;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--ivory);
  color: var(--blue);
  font-family: var(--font-main), sans-serif;
}

.login,
section {
  display: grid;
  max-width: 600px;
  margin: 10px auto;
}

.center {
  text-align: center;
}
.login *,
section * {
  justify-self: center;
}
.untouched {
  border: 1px solid lightgray;
}
.red {
  border: 1px solid red !important;
}
.green {
  border: 1px solid green;
}
input:hover {
  border: 1px solid green;
}
.submit:active {
  border: 1px solid green !important;
  font-weight: bold;
}
.submit:hover {
  border: 1px solid orange;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 3em;
  max-height: 3em;
  overflow: hidden;
  background: var(--blue);
  z-index: 1;
  color: var(--bg-color);
}

footer {
  background: var(--blue);
  color: var(--ivory);
  font-weight: normal;
  width: 100%;
}

footer p {
  text-align: center;
}

strong {
  font-weight: bold;
  word-break: break-word;
  font-family: var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5em;
  margin: 1rem 0 0.25em 0;
  font-family: var(--font-primary), serif;
}

h1 {
  font-size: 2em;
}
